debhelper-build-stamp
*.debhelper
*.substvars
substvars
tmp/
.debhelper/
usdr-*/
soapysdr-module-usdr/
files
lib*/
libusdr-dev.install
usdr-dkms.install
usdr-dkms.postinst
usdr-dkms.postrm
usdr-dkms.dkms
usdr-dev.install
libusdr.install
soapysdr-module-usdr.install
