#!/usr/bin/make -f

include /usr/share/dpkg/default.mk

%:
	dh $@ --sourcedirectory=src --buildsystem=cmake --with=dkms


override_dh_auto_configure:
	dh_auto_configure

	# Generate the DKMS install files
	sed 's/#MODULE_VERSION#/$(DEB_VERSION_UPSTREAM)/g' debian/usdr-dkms.install.template > debian/usdr-dkms.install
	sed 's/#MODULE_VERSION#/$(DEB_VERSION_UPSTREAM)/g' debian/usdr-dkms.dkms.template > debian/usdr-dkms.dkms

	# Substitute architecture in install files
	sed 's/##DEB_HOST_MULTIARCH##/$(DEB_HOST_MULTIARCH)/g' debian/libusdr.install.template > debian/libusdr.install
	sed 's/##DEB_HOST_MULTIARCH##/$(DEB_HOST_MULTIARCH)/g' debian/soapysdr-module-usdr.install.template > debian/soapysdr-module-usdr.install

	# Generate the dev package install file
	cat debian/libusdr-dev.install.template > debian/libusdr-dev.install

	find src/lib -name "*.yaml" | while read file_path; do \
		dest=`dirname "$$file_path" | sed 's/src\/lib//g'`; \
		echo "$$file_path usr/share/usdr$$dest/" >> debian/libusdr-dev.install; \
	done


override_dh_auto_build:
	cd "obj-$(DEB_TARGET_GNU_TYPE)" && make


override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp


override_dh_missing:

