PACKAGE_NAME="usdr-dkms"
PACKAGE_VERSION=#MODULE_VERSION#
CLEAN="make clean"
MAKE[0]="make KERN_DIR=/lib/modules/${kernelver}/build"
BUILT_MODULE_NAME[0]="usdr"
BUILT_MODULE_LOCATION[0]="src/"
DEST_MODULE_LOCATION[0]="/kernel/drivers/misc"
AUTOINSTALL="yes"
