#!/usr/bin/make -f

include /usr/share/dpkg/default.mk

%:
	dh $@ --sourcedirectory=src --buildsystem=cmake --with=dkms


override_dh_auto_configure:
	dh_auto_configure

	# Generate the DKMS install files
	sed 's/#MODULE_VERSION#/$(DEB_VERSION_UPSTREAM)/g' debian/usdr-dkms.install.template > debian/usdr-dkms.install
	sed 's/#MODULE_VERSION#/$(DEB_VERSION_UPSTREAM)/g' debian/usdr-dkms.dkms.template > debian/usdr-dkms.dkms


override_dh_auto_build:
	cd "obj-$(DEB_TARGET_GNU_TYPE)" && make


override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp


override_dh_missing:

